<div class="actions">
    <a class="btn btn-light" href="{% url 'core:general_ledger' %}">General Ledger</a>
    <a class="btn btn-light" href="{% url 'core:trial_balance' %}">Trial Balance</a>
    <a class="btn btn-light" href="{% url 'core:balance_sheet' %}">Balance Sheet</a>
    <a class="btn btn-light" href="{% url 'core:income_statement' %}">Income Statement</a>
    <a class="btn btn-light" href="{% url 'core:receivables_aging' %}">Receivables Aging</a>
    <a class="btn btn-light" href="{% url 'core:reconciliation_report' %}">Reconciliation</a>
    <a class="btn btn-light" href="{% url 'core:payroll_reconciliation_report' %}">Payroll Recon</a>
    <a class="btn btn-light" href="{% url 'core:expense_reconciliation_report' %}">Expense Recon</a>
    <a class="btn btn-light" href="{% url 'core:payment_reconciliation_report' %}">Payment Recon</a>
    <a class="btn btn-success" href="{% url 'core:post_accounting_entries' %}">Post Accounting Entries</a>
</div>
